@import 'global/reset';
@import 'global/positions';
@import 'global/colors';
@import 'sections/section_splash';
@import 'sections/section_globe';
@import 'sections/section_map';
@import 'sections/section_scatter';
@import 'sections/section_conclusion';
@import './sections/section';
body{
    div.main_content{
        @include section_splash;
        div.scrolling_stuff{
            @include section_globe;
            @include section_map;
            @include section_scatter;
            @include section_conclusion;
            z-index:500;
            top:100vh;
            position: absolute;
            width:100%;
        }
    }
}