@import 'global/reset';
@import 'global/positions';
@import 'global/colors';

body{
    div.main_content{
        width:100%;
        div#globe_container{
            width:70%;
            margin-left:0;
            margin-right:auto;
        }
        div#not_globe{
            height:100vh;
            width:30%;
            margin-left:auto;
            margin-right:0;
            @include flex_center_column;
            div#selection{
                > h1{
                    font-size: $font-medium;
                    color: $microsoft-orange;
                }
                div#current_info{
                    @include flex_left_column;
                    :before{
                        content: '-';
                    }
                    :hover:before{
                        content: '----';
                    }
                    > *{ 
                        font-size: $font-small;
                        width:100%;
                    }
                    > .active{
                        font-style: italic;
                        color: $microsoft-blue;
                    }
                }
                margin:auto;
                width:100%;
            }
        }
    }
}