@import './fragment_current_info';

@mixin fragment_selection{
    div#selection{
        @include fragment_current_info;
        margin:auto;
        width:100%;
        > h1{
            font-size: $font-medium;
            color: $microsoft-orange;
        }
    }
}