@mixin fragment_current_info{
    #current_info{
        @include flex_left_column;
        *{
            width: 100%;
            padding:0.25rem;
            background: $white-af;
            border:1px solid $weird-gray;
            color:$crazy-black;
        }
        li{
            list-style: none;
            &:before{
                content: '-';
                color:$microsoft-yellow;
            }
            &:hover{
                cursor:pointer;
                background:#f0f0f0;
            }
            &:hover:before{
                content: '----';
            }
        }
        > *{ 
            font-size: $font-small;
            margin-right:auto;
        }
        > .active{
            font-style: italic;
            color: $microsoft-blue;
        }
        > .active:before{
            content:'by ';
            color: $microsoft-orange;
        }
    }
}