@import './fragment_current_info';
@import './fragment_menu_button';
@mixin fragment_selection{
    div#selection{
        @include fragment_current_info;
        margin:auto;
        width:100%;
        *{
            font-weight: bold;
        }
        > h1{
            @include fragment_menu_button;
        }

        perspective: 1000px;

        * li{
            opacity:0;  
        }
        &:hover * li, &:focus * li{
            @for $i from 1 through 3{
                &:nth-child(#{$i}){
                    animation: appear 300ms ease-in-out $i * 100ms - 100ms forwards;
                }
            }
        }
        @keyframes appear{
            0%{
                opacity: 0;
                transform: rotate(30deg) rotateY(90deg) translateX(-300px) translateY(100px) scale(0.8,0.8);
            }
            50%{
                opacity: 1;
                transform: rotate(-2deg) rotateY(0deg) translateX(20px) translateY(-10px) scale(1,1.2);
            }
            100%{
                opacity: 1;
                transform: rotate(0deg) rotateY(0deg) translateX(0px) translateY(0px) scale(1,1);
            }
        }
    }
}