@import './fragments/fragment_selection';

@mixin not_globe{
    div#not_globe{
        @include fragment_selection;
        height:100%;
        max-width:20rem;
        width:100%;
        top:0;
        left: 0;
        z-index: 444;
        position:fixed;
    }
}