@import './fragments/fragment_selection';

@mixin not_globe{
    div#not_globe{
        @include fragment_selection;
        height:100%;
        width:20rem;
        top:0;
        visibility: hidden;
        -ms-visibility: hidden;
        -webkit-visibility: hidden;
        -moz-visibility: hidden;
        z-index: 444;
        position:fixed;
    }
}