@import './fragments/fragment_selection';

@mixin not_globe{
    div#not_globe{
        @include fragment_selection;
        width:20rem;
        top:0;
        visibility:hidden;
        z-index: 999;
        position:fixed;

        @media only screen and (max-width: 960px) and (min-width: 600px){
            left:0;
            visibility: visible;
        }

        @media only screen and (max-width: 599px){
            width:100%;
            left:0;
            visibility: visible;
        }
    }
}