@mixin section_splash{
    section.splash{
        @include flex_center_column;
        @include size_full;
        .splash_contents{
            padding:2rem;
            margin: auto;
            max-width:25em;
            h1{
                font-size: $font-huge;
                font-weight:bold;
            }
            h2, h2 *{
                font-size: $font-medium;
            }
            h3{
                font-size: $font-small;
                color:$microsoft-green;
            }
            .key_word{
                &.blue{
                    color:$microsoft-blue;
                }
                &.orange{
                    color:$microsoft-orange;
                }
                font-weight: bold;
            }
        }
        z-index:0;
        @media all and (min-width: 960px){
            position: fixed;
            top:0;
        }
        background:#fff;
    }
}