@mixin section_splash{
    section.splash{
        @include flex_center_column;
        .splash_contents{
            padding:2rem;
            margin: auto;
            h1{
                font-size: $font-huge;
            }
            h2{
                font-size: $font-small;
            }
            h3{
                font-size: $font-tiny;
            }
        }
        z-index:999;
        position: relative;
        background:#fff;
    }
}