@mixin section_splash{
    section.splash{
        @include flex_center_column;
        div.splash_contents{
            padding:2rem;
            max-width: 70%;
            h1{
                font-size: $font-huge;
            }
            h2{
                font-size: $font-small;
            }
            h3{
                font-size: $font-tiny;
            }
            margin:auto;
        }
    }
}